.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  background-color: #FF7D00;

  &__image {
    height: 36px;
    width: 72px;
  }

  .icon {
    font-size: 24px;
  }
}